.product-img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    padding: 5px;
}
.quantity-control button {
  width: 36px;
  height: 36px;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  user-select: none;
}

#quantityInput {
  font-size: 1.1rem;
  padding: 6px;
  pointer-events: none; /* prevent manual typing */
}

.product-title {
    font-size: 2rem;
    color: #bfa36f;
}

.product-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1a1a1a;
}

.product-desc {
    margin-top: 20px;
    font-size: 1rem;
    line-height: 1.5;
}
